*{
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  text-decoration: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  width: 100%;
  background-color: black;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li{
  padding: 20px;
}
nav ul li a{
  padding: 20px;
  color: white;
}
nav ul li a:hover{
  background-color: #111;
}
header{
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(#000000a9, #000000a9), url('assets/images/jordan-mcgee-moqWSeBjLIc-unsplash.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1{
  font-size: 50px;
}
.aboutWeb{
  width: 80%;
  margin: 50px auto;
  text-align: center;
}
.aboutWeb h1{
  font-size: 35px;
}
footer{
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
footer span{
  display: block;
  padding: 10px;
}